mediapipe
numpy
streamlit
watchdog
streamlit-webrtc
opencv-python-headless
matplotlib
pydub
black
plotly
frozendict
scikit-learn
playsound
PyObjC
sounddevice
vosk
jinja2
dvc
wkhtmltopdf
pdf2image
pynput
imgkit
gtts 
scikit-image
SpeechRecognition
pygame
dvc[gdrive]
