{#クラスを受け取った際に使用#}
<html>
<head>
</head>
<meta charset="utf-8"/>
  <body>
    <img src="data/posefit_icon.png" width="200px" alt="posefit" align="right">



    <p style=" font-size: 60px;">&ensp;</p>
    <p style=" font-size: 20px;">{{ coaching_contents.menu }}を{{ coaching_contents.reps }}回お疲れ様でした．</p>
    <p style=" font-size: 20px;">Good pointやBad pointなどについてお伝えします．</p>

    <div style="background-color: #87ceeb; border-radius: 10px; solid 10px; border: #87ceeb solid 1px; font-size: 100%; padding: 0px 20px;">
    <p style=" font-size: 30px;">Good Point</p>
    <p style=" font-size: 20px;">{{coaching_contents["instructions"][0].instruction_text}}</p>
    </div>

    <p style=" font-size: 10px;">&ensp;</p>

    <div style="background-color: #ffc0cb; border-radius: 10px; solid 10px; border: #ffc0cb solid 1px; font-size: 100%; padding: 0px 20px;">
    <p style=" font-size: 30px;">Bad Point</p>
    <p style=" font-size: 20px;">{{coaching_contents["instructions"][1].instruction_text}}</p>
    <p style=" font-size: 20px;">{{coaching_contents["instructions"][1].reason}}ためと考えられます．</p>
    </div>

    <p style=" font-size: 10px;">&ensp;</p>


    {% if coaching_contents["instructions"][1].menu_to_recommend != []%}
        <div style="background-color: #98fb98; border-radius: 10px; solid 10px; border: #98fb98 solid 1px; font-size: 100%; padding: 0px 20px;">
        <p style=" font-size: 20px;">おすすめのメニュー</p>
        <ul>
        {% for i in coaching_contents["instructions"][1].menu_to_recommend %}
        <li style=" font-size: 20px;">{{i}}</li>
        {% endfor %}
        </ul>
        </div>

        <p style=" font-size: 10px;">&ensp;</p>

    {% endif %}
  </body>
</html>
{#リストで受け取った際に使用#}
{#
<html>
<head>
<meta charset="utf-8"/>
  <body>
    <h1>{{ coaching_contents[0] }}</h1>
{% if "squat_depth" in coaching_contents %}
    <p>もっと腰を下げるメニューを実行。</p>
{% else %}
    <p>なしなしなし</p>
{% endif %}
  </body>
</html>
#}