{#クラスを受け取った際に使用_表示用#}
<html>
<head>
</head>
<meta charset="utf-8"/>
  <body>
    <img src="data/img_src/posefit_icon.png" width="150px" alt="posefit" align="right">

    <p style=" font-size: 40px; letter-spacing: 1px;">&ensp;</p>
    <p style=" font-size: 60px; letter-spacing: 1px;">{{ coaching_contents["menu"] }}を{{ coaching_contents["reps"] }}回お疲れ様でした．</p>

    <p style=" font-size: 60px;"><span style="color: #6BBCDE;">Good Point</span>
    <br>{{coaching_contents["good_points"][0]["text"]}}</p>

    <p style=" font-size: 1px; line-height: 1px;">&ensp;</p>

    <p style=" font-size: 60px;"><span style="color: #D43653;">Bad Point</span>
    <br>{{coaching_contents["good_points"][0]["text"]}}
    <br>{{coaching_contents["good_points"][0]["reason"]}}ためと考えられます．</p>

    <p style=" font-size: 1px; line-height: 1px;">&ensp;</p>


    {% if coaching_contents["good_points"][0]["menu_to_recommend"] != []%}
        <p style=" font-size: 60px; line-height: 1px;"><span style="color: #A6C849;">おすすめのメニュー</span></p>
        <ul>
        {% for i in coaching_contents["good_points"][0]["menu_to_recommend"] %}
        <li style=" font-size: 60px; line-height: 1px;">{{i}}</li>
        {% endfor %}
        </ul>

        <p style=" font-size: 1px; line-height: 1px;">&ensp;</p>

    {% endif %}

  </body>
</html>

{#クラスを受け取った際に使用_配布用#}
{#
<html>
<head>
</head>
<meta charset="utf-8"/>
  <body>
    <img src="data/img_src/posefit_icon.png" width="200px" alt="posefit" align="right">

    <p style=" font-size: 60px;">&ensp;</p>
    <p style=" font-size: 20px;">{{ coaching_contents["menu"] }}を{{ coaching_contents["reps"] }}回お疲れ様でした．</p>
    <p style=" font-size: 20px;">Good pointやBad pointなどについてお伝えします．</p>

    <div style="background-color: #C4E4F2; border-radius: 10px; solid 10px; border: #6BBCDE solid 5px; font-size: 100%; padding: 0px 20px;">
    <p style=" font-size: 30px;">Good Point</p>
    <p style=" font-size: 20px;">{{coaching_contents["instructions"].data["squat_knees_in"].info.text}}</p>
    </div>

    <p style=" font-size: 10px;">&ensp;</p>

    <div style="background-color: #EEAFBA; border-radius: 10px; solid 10px; border: #D43653 solid 5px; font-size: 100%; padding: 0px 20px;">
    <p style=" font-size: 30px;">Bad Point</p>
    <p style=" font-size: 20px;">{{coaching_contents["instructions"].data["squat_knees_in"].info.text}}</p>
    <p style=" font-size: 20px;">{{coaching_contents["instructions"].data["squat_knees_in"].info.reason}}ためと考えられます．</p>
    </div>

    <p style=" font-size: 10px;">&ensp;</p>


    {% if coaching_contents["instructions"].data["squat_knees_in"].info.menu_to_recommend != []%}
        <div style="background-color: #DBE9B6; border-radius: 10px; solid 10px; border: #A6C849 solid 5px; font-size: 100%; padding: 0px 20px;">
        <p style=" font-size: 20px;">おすすめのメニュー</p>
        <ul>
        {% for i in coaching_contents["instructions"].data["squat_knees_in"].info.menu_to_recommend %}
        <li style=" font-size: 20px;">{{i}}</li>
        {% endfor %}
        </ul>
        </div>

        <p style=" font-size: 10px;">&ensp;</p>

    {% endif %}

  </body>
</html>
#}
{#リストで受け取った際に使用#}
{#
<html>
<head>
<meta charset="utf-8"/>
  <body>
    <h1>{{ coaching_contents[0] }}</h1>
{% if "squat_depth" in coaching_contents %}
    <p>もっと腰を下げるメニューを実行。</p>
{% else %}
    <p>なしなしなし</p>
{% endif %}
  </body>
</html>
#}